*.foreground:	#c0c0c0
*.background:   #30302c
*.cursorColor:	#00d7d7

! black 
*.color0: #4e4e43
*.color8: #e8e8d3

! red
*.color1: #d68787
*.color9: #d7afaf

! green
*.color2: #87af87
*.color10: #5faf87

! yellow
*.color3: #d8af5f
*.color11: #d7875f

! blue
*.color4: #87afaf
*.color12: #5fafaf

! magenta
*.color5: #df5f87
*.color13: #d78787

! cyan
*.color6: #87d7d7
*.color14: #87d7ff

! white
*.color7: #d9d8d8
*.color15: #ffffff


URxvt*font:xft:LiberationMono:style=Regular:size=24

URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 5000

URxvt*iso14755: false
